<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>[[${coin.name}]]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:replace="~{blocks/header :: header}"></header>

<div class="container" style="margin-top: 20px;">
    <div style="display: inline-block;">
        <img th:src="@{'https://cryptologos.cc/logos/thumbs/' + ${coin.id} + '.png?v=024'}" alt="Logo"
             height="96" style="vertical-align: middle;">
    </div>
    <div style="display: inline-block; vertical-align: middle; margin-left: 10px;">
        <h1 th:text="${coin.name}" style="margin: 0;"></h1>
        <p th:text="'$' + ${coin.priceUSD}" style="margin: 0;"></p>
    </div>
</div>

<button onclick="toggleDiv()" class="btn btn-success">Deposit</button>
<div id="myDiv" style="display: none; inline-block; vertical-align: middle; margin-top: 10px;">
    <form action="/coin" method="post">
        <input type="hidden" name="coin_id" th:value="${coin.id}">
        <input type="text" name="amount" placeholder="Введіть суму купівлі" class="form-control">
        <button type="submit" class="btn btn-success">Accept</button>
    </form>
</div>

<script>
    function toggleDiv() {
        var x = document.getElementById("myDiv");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<div th:replace="~{blocks/footer :: footer}"></div>
</body>
</html>